# OpenCode automatically create these files:
bun.lock
package.json
node_modules/

# Python files:
__pycache__/

# Dockman files:
.dockman/

# Planning logs
.planning/.logs/

# Reference
ref/

# macOS
.DS_Store
